
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f7;
    color: #333;
    padding: 20px;
}
h2 {
    color: #276749;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #2f855a;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
button {
    background-color: #2f855a; color: white; padding: 10px 15px;
    border: none; border-radius: 5px; cursor: pointer;
}
button:hover { background-color: #276749; }

.acciones button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}
.editar {
    background-color: #2196F3;
    color: white;
}
.eliminar {
    background-color: #f44336;
    color: white;
}

